// Author: Filip 'Filomaster' Majorek
// Description: This is style for game page

#game-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  width: 100%;
  height: 100%;
}

#board-container {
  background-color: #333;
  display: grid;
  place-items: center;
}
#panel-container {
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#function-panel {
  width: 100%;
  height: 80vh;
}

#player-panel {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-rows: repeat(1fr, 4);
  place-items: center;
}

.player {
  width: 80%;
  height: 80%;
  transition: 100ms;
  &.yl {
    background-color: yellow;
  }
  &.rd {
    background-color: red;
  }
  &.bl {
    background-color: blue;
  }
  &.gr {
    background-color: green;
  }
}

#board {
  height: 80vh;
  width: 80vh;
  background-image: url("../images/board/dark.png");
  background-size: 80vh 80vh;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

// I've copied CSS responsible for dice animation
// Source: https://lenadesign.org/2020/06/18/roll-the-dice/
// #region Dice animation
.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;

  &:hover {
    cursor: pointer;
  }
}

.container {
  position: relative;
  display: inline-block;
  left: 40%;
  top: 200px;
}

.side {
  position: absolute;
  background-color: #c8503e;
  width: 5em;
  height: 5em;
  background-size: 5em 5em;
  &:nth-child(6) {
    transform: translateZ(2em);
  }

  &:nth-child(1) {
    transform: rotateY(90deg) translateZ(2.5em);
  }

  &:nth-child(3) {
    transform: rotateY(-90deg) translateZ(2.5em);
  }

  &:nth-child(4) {
    transform: rotateX(90deg) translateZ(2.5em);
  }

  &:nth-child(5) {
    transform: rotateX(-90deg) translateZ(2.5em);
  }

  &:nth-child(2) {
    transform: rotateY(-180deg) translateZ(2.5em);
  }
}

#inactivityCounter {
  width: 100%;
  font-size: 3em;
  font-family: "Open Sans";
  color: #555;
  text-align: center;
}

#dice-container-2 {
  margin-top: 5vh;
  display: grid;
  place-items: center;
}

button {
  margin-top: 2vh;
  background-color: #c8503f;
  width: 60%;
  height: 80%;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.5em;
}

.window-button:hover {
  background-color: #ff7d50;
  cursor: pointer;
}
.window-button {
  background-color: #c8503f;
  width: 40%;
  height: 60%;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.5em;
}

button:hover {
  background-color: #ff7d50;
  cursor: pointer;
}

button:disabled {
  background-color: #888;
  cursor: default;
}

#new-dice {
  margin-top: 1vh;
  width: 20vh;
  height: 20vh;
  background-size: cover;
}

.num-1 {
  background-image: url(../images/dice/1.png);
}
.num-2 {
  background-image: url(../images/dice/2.png);
}
.num-3 {
  background-image: url(../images/dice/3.png);
}
.num-4 {
  background-image: url(../images/dice/4.png);
}
.num-5 {
  background-image: url(../images/dice/5.png);
}
.num-6 {
  background-image: url(../images/dice/6.png);
}

.show-6 {
  transform: rotateX(720deg) rotateZ(-720deg);
}
.show-1 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}
.show-4 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}
.show-3 {
  transform: rotateY(810deg) rotateZ(720deg);
}
.show-2 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}
.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg);
}
// #endregion
